body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: darkslategray !important
}
/* * {
  background-color: lightgray;
} */

.card-body {
  background-color: #fafafa;
  border: 4px solid darkslategray;
  border-radius: 3px;
  padding-bottom: 20px;
 }

 .col.title {
   margin-top: 35px;
   font-family: 'Outfit', sans-serif;
 }

 .card-text {
   background-color: #fafafa;
   font-family: 'Outfit', sans-serif;
 }
 .card-link {
   background-color: #fafafa;
 }
 .card-title {
  background-color: #fafafa;
 }
 .card {
   border: none;
   background-color: darkred;
 }
 