.popup-content {
    width: 500px;
}
.addSong {
    align-items: right;
}

.playlisttracks {
    display: flex;
    justify-content: space-evenly;
}
.cassette__control_bar {
    background-color: lightslategray;
}